body {
	font-family: 'Proxima Nova';
	
}

#login {
	background-image: url("../img/massage2.jpg");
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

#navigation {
	width: 20%;
	background-color: #414658;
	min-height: 100vh;
	position: fixed;
	left: 0px;
	margin: 0px;
	color: #fff;
	top: 0px;
}

#content {
	background-color: #fff;
	width: 80%;
	margin-left: 20%;
	min-height: 100vh;
	top: 0px;
}

#navigation ul {
	padding-left: 0px;
	list-style-type: none;
}

#navigation ul li a {
	display: block;
	padding-left: 0px;
	background-color: #414658;
	border-bottom: 1px solid #64697d;
	color: #fff;
	padding: 10px 20px;
}

i.fa {
	margin-right: 7px;
}

#navigation ul li a:hover {
	font-weight: 400;
	text-decoration: none;
	background-color: #3a4054;
}


#navigation .title {
	padding: 20px;
}

#content-bar {
	border-bottom: 1px solid #ececec;
	width: 100%;
	background-color: #f4f4f4;
	top: 0px;
	margin: 0px;
	padding: 20px;
}

#content-bar h1 {
	margin-top: 0px;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 0px;
}

.app-data {
	padding: 30px;
}

.alert {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	z-index: 999;
	margin: 0px;
}

.table thead tr td {
	font-weight: 700;
}

img {
	max-width: 100%;
}

.grid-item {
	width: 250px;
	padding: 10px;
	box-sizing: border-box;
}

.delete-image {
	background-color: #d9534f;
	width: 30px;
	height: 30px;
	display: table;
	position: absolute;
	top: 25px;
	right: 25px;
	text-align: center;
	border-radius: 50%;
	padding: 0px;
	opacity: 0;
}

.delete-image i {
	margin-right: 0px;
	color: #fff;
	margin-top: 7px;
}

.grid-item:hover .delete-image {
	opacity: 1;
}

.booking-spot {
	background-color: #f4f4f4;
	border: 1px solid grey;
	padding: 10px;
}

.size-1 {
	height: 50px;
}

.size-2 {
	height: 100px;
}

.size-3 {
	height: 150px;
}

.size-4 {
	height: 200px;
}

.booked {
	background-color: #c5d6d8;
	text-align: center;
}

.label {
	padding: 10px;
	display: table-cell;
}

#navigation ul li.user a {
	background-color: #53586b;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 700;
	cursor: pointer;
}

.caret {
	padding-top: 0px;
	margin-top: 7px;
	margin-right: 10px;
}
