body {
	font-family: 'Playfair Display';
	color: #333;
}

p {
	line-height: 1.6;
}

img {
	max-width: 100%;
}

.navbar {
	position: fixed;
	z-index: 99;
	top: 0px;
	width: 100%;
	border: 0px;
	border-radius: 0px;
	font-family: 'Proxima Nova';
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
}

.nav>li>a {
	padding: 15px 17px;
}

ul.social-media {
	list-style-type: none;
	padding: 0px;
	padding-left: 40px;
}

ul.social-media li {
	display: inline-block;
	padding: 0px 7px;
	font-size: 14px;
	padding-top: 17px;
}

strong {
	font-weight: 700;
}

.wrapper {
	width: 1200px;
	margin: auto;
}

section {
	background-size: cover;
	background-position: center center;	
	width: 100%;
	padding: 100px 0px;
	background-color: #fff;
}

/* section:nth-child(2n) {
	background-color: #f4f4f4;
} */

#home {
	background-image: url('../img/massage2.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	min-height: 90vh;
	padding: 0px;
}

#home h1 {
	font-size: 56px;
	padding-bottom: 20px;
}

#home .btn {
	color: #fff;
}

.fade-bg {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	top: 0px;
	margin: 0px;
	color: #fff;
	text-align: center;
}

#home .fade-bg {
	min-height: 90vh;
	padding: 220px 0px;
}

.fade-bg h1, .fade-bg h2, .fade-bg h3, .fade-bg h4 {
	color: #fff;
}

.treatment {
	background-color: #f4f4f4;
	background-size: cover;
	background-position: center center;
	padding: 0px;
}

.treatment .fade-effect h2 {
	color: #fff;
	font-family: 'Proxima Nova';
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 4px;
	font-weight: 400;
}

.fade-effect {
	background-color: rgba(0,0,0,0.5);
	padding: 90px 0px;
	width: 100%;
	transition: 0.2s;
}

.treatment:hover .fade-effect {
	background-color: rgba(0,0,0,0.2);
	transition: 0.2s;
}

section.cta {
	background-image: url('../img/avanti.jpg');
	background-size: cover;
	background-position: center center;
	padding: 0px;
}

section.cta .fade-bg {
	padding: 100px 0px;
}

section.cta .btn {
	color: #fff;
	margin-top: 20px;
}

.cta h1, .cta h4 {
	color: #fff;
}

footer {
	background-color: #333;
	padding-top: 50px;
	padding-bottom: 0px;
	font-family: 'Proxima Nova';
}

footer ul li a, footer p, footer ul li {
	color: #fff;
}

footer .copyright {
	background-color: #222;
	padding-top: 11px;
	padding-bottom: 11px;
	font-size: 12px
}

footer .copyright p {
	margin-bottom: 0px;
}

footer ul {
	list-style-type: none;
	padding-left: 0px;
}

footer ul li {
	padding-left: 0px;
}

.btn {
	box-shadow: none;
	border: 0px;
	border-radius: 0px;
}

.btn-primary {
	background-color: transparent;
	background-image: none;
	border: 2px solid #e2cd8f;
	font-family: 'Proxima Nova';
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #333;
	text-shadow: none;
}

.btn-lg {
	font-size: 13px;
}

.grid-item {
	width: 250px;
	padding: 10px;
	box-sizing: border-box;
}

section h1 {
	margin-bottom: 30px;
	font-style: italic;
}

section h1::after {
	content: '';
	display: block;
	color: #e2cd8f;
	text-align: center;
	border-bottom: 2px solid #e2cd8f;
	width: 40px;
	margin-top: 10px;
}

section h1.text-center::after {
	margin: auto;
	margin-top: 10px;
}

#home .btn {
	margin-top: 30px;
}

section.half-picture {
	background-size: 50%;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0px;
	background-color: #fff;
}

section.half-picture.right {
	background-position: right center;
}

section.half-picture .solid-bg {
	background-color: #fff;
	padding: 80px;
}

section.half-picture .btn {
	margin-top: 20px;
}

.features {
	background-color: #f4f4f4;
	padding: 50px 0px;
	text-align: center;
}

.features img {
	max-width: 120px;
	max-height: 60px;
	opacity: 0.4;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.features img:hover {
	opacity: 1;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.features .col-md-2 {
	text-align: center;
}

.service-table {
	width: 100%;
	margin-top: 40px;
}

.service-table .service-name {
	width: 80% !important;
	vertical-align: middle;
}

.service-table tr td {
	border-bottom: 1px solid #f4f4f4;	
	padding: 0px 20px 10px 20px;
	font-family: 'Proxima Nova';
}

.service-table tr:hover {
	cursor: pointer;
	background-color: #f4f4f4;
}

.service-table tr.selected {
	background-color: #f4f4f4;
}

.service-table p {
	line-height: 1.4;
}

.service-table h3 {
	font-family: 'Playfair Display';
	font-style: italic;
	margin-bottom: 20px;
}

.service-table a {
	color: inherit;
}

.service-price {
	font-size: 18px;
	font-weight: 600;
	vertical-align: middle;
	text-align: right;
	color: #e2cd8f;
}

.book-visit {
	background-color: #e2cd8f;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	display: block;
	font-family: 'Proxima Nova';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}

.book-visit:hover {
	color: inherit;
	text-decoration: none;
}

label {
	font-family: 'Proxima Nova';
}

input {
	font-family: 'Proxima Nova';
}

#bookingHour .btn {
	font-family: 'Proxima Nova';
	margin: 2px;
	border-radius: 5px;
	background-image: none;
}

.btn-selected {
	background-color: #e2cd8f !important;
	background-image: none;
}
